In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import json
import nltk
import pprint
import re
import requests
import statsmodels.api as sm
import yfinance as yf
from sqlalchemy import create_engine
import psycopg2
from config import db_password

## Data retrieval

In [2]:
# Connect with Amazon RDS Database Instance 

db_string = f'postgresql://postgres:{db_password}@myclassdb-01.cd80yqfjmzyg.us-east-1.rds.amazonaws.com/stock_market'

engine = create_engine(db_string)

In [3]:
# Retrieve data (here for 'AAPL')

df = pd.read_sql("SELECT * FROM stocks WHERE ticker = 'AAPL'", engine)

In [4]:
# Check for dataset quality, e.g., missing values etc.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10486 entries, 0 to 10485
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ticker    10486 non-null  object
 1   date      10486 non-null  object
 2   code      10486 non-null  object
 3   open      10486 non-null  float64
 4   high      10486 non-null  float64
 5   low       10486 non-null  float64
 6   close     10486 non-null  float64
 7   adjclose  10486 non-null  float64
 8   volume    10486 non-null  float64
dtypes: float64(6), object(3)
memory usage: 737.4+ KB

In [11]:
# Date format needs a change to date time
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace = True)
df

,ticker,code,open,high,low,close,adjclose,volume
date,,,,,,,,
1986-10-10,AAPL,AAPL_1986-10-10,0.146763,0.148996,0.144531,0.148438,0.115859,58531200.0
1980-12-12,AAPL,AAPL_1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100178,469033600.0
1980-12-15,AAPL,AAPL_1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094952,175884800.0
1980-12-16,AAPL,AAPL_1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087983,105728000.0
1980-12-17,AAPL,AAPL_1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090160,86441600.0
...,...,...,...,...,...,...,...,...
1995-04-06,AAPL,AAPL_1995-04-06,0.332589,0.339286,0.317243,0.328125,0.278149,722825600.0
1995-04-07,AAPL,AAPL_1995-04-07,0.330357,0.331473,0.323661,0.328125,0.278149,295724800.0
1995-04-10,AAPL,AAPL_1995-04-10,0.329241,0.330357,0.322545,0.327009,0.277203,117801600.0
1995-04-11,AAPL,AAPL_1995-04-11,0.328125,0.338170,0.327009,0.337054,0.285718,214513600.0
1995-04-12,AAPL,AAPL_1995-04-12,0.341518,0.353795,0.333705,0.348214,0.295178,474712000.0

In [12]:
# Check for null values
df.isnull().count()

ticker      10486
code        10486
open        10486
high        10486
low         10486
close       10486
adjclose    10486
volume      10486
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
#from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import tensorflow as tf

In [ ]:
# Prepare test and training sets
df_train = df[:8400]