In [1]:
# To make sure working directory
# Otherwise uncomment and run to include the current directory
import os
os.getcwd()

'/Users/wimal/Documents/DataScience/UNC_Bootcamp/Project'

### Dependencies

In [20]:
from bs4 import BeautifulSoup as bs
import datetime as dt
import json
import nltk
import numpy as np
import pandas as pd
import pickle
import pprint
import re
import requests
import statsmodels.api as sm
import yfinance as yf
from sqlalchemy import create_engine
import psycopg2
# from config import db_password
from config import db_password

In [ ]:
pwd

## EXTRACTION, TRANSFORM, AND LOADING (ETL)

### Webscraping

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
req = requests.get(url)
soup = bs(req.text, 'html.parser')
table = soup.find("table", class_= "wikitable sortable")
df=pd.read_html(str(table))
df=pd.DataFrame(df[0])
print(df.head())

In [ ]:
df = df.drop(["SEC filings"], axis=1)

In [ ]:
df = df.rename(columns={"GICS Sector": "GICS_Sector"})

In [ ]:
df["CIK"].dtypes

In [ ]:
df.dtypes

In [ ]:
df.to_csv("companies.csv", index=False)

### Get Stocks Data

In [ ]:
yf.pdr_override()

def save_sp500_tickers():
    resp = requests.get('http://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
    soup = bs(resp.text, 'lxml')
    table = soup.find('table', {'class': 'wikitable sortable'})
    tickers = []
    for row in table.findAll('tr')[1:]:
        ticker = row.findAll('td')[0].text.replace('.', '-')
        ticker = ticker[:-1]
        tickers.append(ticker)
    with open("sp500tickers.pickle", "wb") as f:
        pickle.dump(tickers, f)
    return tickers
save_sp500_tickers()

In [ ]:
def get_data_from_yahoo(reload_sp500=False):
    if reload_sp500:
        tickerStrings = save_sp500_tickers()
    else:
        if not os.path.exists('stock_dfs'):
            os.makedirs('stock_dfs')
        
        with open("sp500tickers.pickle", "rb") as f:
            tickerStrings = pickle.load(f)   
            
            for ticker in tickerStrings:
                data = yf.download(ticker, group_by="Ticker", period= 'max')
                data['ticker'] = ticker  # add this column because the dataframe doesn't contain a column with the ticker
                data.to_csv(f'stock_dfs/ticker_{ticker}.csv')  # ticker_AAPL.csv for example

In [ ]:
get_data_from_yahoo()

### Get Additional Stocks/ Financial Data

### Importing ALL CSV files and create a dataframe - ALL Tickers

In [ ]:
# set the path to the files
p = Path('/Users/wimal/Documents/DataScience/UNC_Bootcamp/Project/stock_dfs')

# find the files; this is a generator, not a list
files = p.glob('ticker_*.csv')

# read the files into a dataframe
df = pd.concat([pd.read_csv(file) for file in files])

In [ ]:
# Note: Number of records > 4M for Maximum period traded
df["Code"] = df[["ticker", "Date"]].apply(lambda x: "_".join(x), axis = 1)
df

In [ ]:
df.dtypes

In [ ]:
df.isnull().sum()

In [ ]:
df.isnull().sum().sum()

In [ ]:
df.dropna(inplace=True)

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.to_csv("all_tickers_stocks.csv", index=False)

In [ ]:
db_string = f'postgresql://postgres:{db_password}@127.0.0.1:5432/Stock_Market'
# file_dir = '/Users/wimal/Documents/DataScience/UNC_Bootcamp/Project'
engine = create_engine(db_string)
#df.to_sql(name='stocks', con=engine, if_exists='replace')

rows_imported = 0
get the start_time from time.time()
start_time = time.time()
# for data in pd.read_csv(f'{file_dir}/all_tickers_stocks.csv', chunksize=1000000):
pd.read_csv(f'{file_dir}/all_tickers_stocks.csv', chunksize=1000000):
#df.to_sql(name='stocks', con=engine, if_exists='replace')
print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
#df_tickers.to_sql(name='companies', con=engine, if_exists='replace')
# rows_imported += len(data)

# add elapsed time to final print out
print(f'Done. {time.time() - start_time} total seconds elapsed')

In [ ]:
db_string = f'postgresql://postgres:{db_password}@127.0.0.1:5432/Stock_Market'
file_dir = '/Users/wimal/Documents/DataScience/UNC_Bootcamp/Project'
engine = create_engine(db_string)

start_time = time.time()
for data in pd.read_csv(f'{file_dir}/companies.csv', chunksize=1000000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='tickers', con=engine, if_exists='replace')
    rows_imported += len(data)

# add elapsed time to final print out
print(f'Done. {time.time() - start_time} total seconds elapsed')

In [ ]:
db_string = f'postgresql://postgres:{db_password}@127.0.0.1:5432/Stock_Market'
file_dir = '/Users/wimal/Documents/DataScience/UNC_Bootcamp/Project'
engine = create_engine(db_string)

start_time = time.time()
for data in pd.read_csv(f'{file_dir}/all_tickers_stocks.csv', chunksize=1000000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='stocks', con=engine, if_exists='replace')
    rows_imported += len(data)

# add elapsed time to final print out
print(f'Done. {time.time() - start_time} total seconds elapsed')

In [ ]:
df_stock = pd.read_csv('all_tickers_stocks.csv', parse_dates=True)

In [ ]:
df_stock.info()

In [ ]:
df_stock

In [ ]:
df_stock['Date'] = pd.to_datetime(df_stock['Date'])

In [ ]:
df_stock.info()

In [ ]:
df_tickers = pd.read_csv('companies.csv')

In [ ]:
# df_tickers.rename(columns={'Symbol': 'Ticker'}, inplace=True)
# df_tickers

In [ ]:
# stocks_all_df = pd.concat(df_stock, df_tickers)

In [ ]:
stocks_all_df = pd.merge(df_stock, df_tickers, how='inner', on=None, left_on='Ticker', right_on='Symbol', sort=True)

In [ ]:
 stocks_all_df

In [ ]:
stocks_all_df.columns

In [ ]:
stocks_all_df = stocks_all_df[['CIK','Ticker', 'Date', 'Code', 'Open', 'High', 'Low', 'Close', 'AdjClose', 'Volume', 'Symbol', 'Security', 'GICS_Sector', 'GICS Sub-Industry', 'Headquarters Location', 'Date first added',  'Founded']]

In [ ]:
stocks_all_df

### Get Text Data for NLP

In [ ]:
nltk.download('stopwords')
nltk.download('wordnet')

In [ ]:
cik_lookup = {
    'AMZN': '0001018724',
    'BMY': '0000014272',   
    'CNP': '0001130310',
    'CVX': '0000093410',
    'FL': '0000850209',
    'FRT': '0000034903',
    'HON': '0000773840'}

In [ ]:
sec_api = project_helper.SecAPI()
from bs4 import BeautifulSoup
def get_sec_data(cik, doc_type, start=0, count=60):
    rss_url = 'https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany' \
        '&CIK={}&type={}&start={}&count={}&owner=exclude&output=atom' \
        .format(cik, doc_type, start, count)
    sec_data = sec_api.get(rss_url)
    feed = BeautifulSoup(sec_data.encode('ascii'), 'xml').feed
    entries = [
        (
            entry.content.find('filing-href').getText(),
            entry.content.find('filing-type').getText(),
            entry.content.find('filing-date').getText())
        for entry in feed.find_all('entry', recursive=False)]
    return entries
example_ticker = 'AMZN'
sec_data = {}
for ticker, cik in cik_lookup.items():
    sec_data[ticker] = get_sec_data(cik, '10-K')
pprint.pprint(sec_data[example_ticker][:5])

In [ ]:
df = pd.read_csv('companies.csv')

In [ ]:
df

In [ ]:
# To make sure CIK is 10 digit long
df['CIK'] = df['CIK'].apply(lambda x: '{0:010d}'.format(x))

In [ ]:
df

In [ ]:
tickers = df['Symbol'].unique()

In [ ]:
tickers

In [ ]:
df.info()

In [ ]:
df['CIK'].value_counts()

In [ ]:
df.loc[df['CIK'] == '0001754301']

In [ ]:
df1 = pd.read_csv('AAPL_SP.csv', parse_dates=True, index_col='Date')

In [ ]:
df1

In [ ]:
## Daily Retrrns

In [ ]:
daily = df1['Close'].pct_change()
daily

In [ ]:
def get_data_from_yahoo(reload_sp500=False):
    if reload_sp500:
        tickerStrings = save_sp500_tickers()
    else:
        if not os.path.exists('stock_dfs'):
            os.makedirs('stock_dfs')
        
        with open("sp500tickers.pickle", "rb") as f:
            tickerStrings = pickle.load(f)   
            
            for ticker in tickerStrings:
                data = yf.download(ticker, group_by="Ticker", period= 'max')
                data['ticker'] = ticker  # add this column because the dataframe doesn't contain a column with the ticker
                data.to_csv(f'stock_dfs/ticker_{ticker}.csv')  # ticker_AAPL.csv for example

In [ ]:
get_data_from_yahoo()

In [ ]:
# set the path to the files
p = Path('/Users/wimal/Documents/DataScience/UNC_Bootcamp/Project/stock_dfs')

# find the files; this is a generator, not a list
files = p.glob('ticker_*.csv')

# read the files into a dataframe
df = pd.concat([pd.read_csv(file) for file in files])

In [ ]:
data = yf.download('^GSPC', period= 'max')

In [ ]:
data

In [ ]:
# Get S&P 500

In [ ]:
sp500 = data

In [ ]:
sp500.info()

In [ ]:
aapl = yf.download('AAPL', period= 'max')

In [ ]:
aapl

In [ ]:
prices = pd.concat([aapl['Close'], sp500['Close']], axis=1)

In [ ]:
prices.columns = ['AAPL', '^GSPC']

In [ ]:
prices

In [ ]:
returns = prices.pct_change(1)
clean_returns = returns.dropna(axis=0)  # drop first missing row
print(clean_returns.head())

In [ ]:
## Beta

In [ ]:
X = clean_returns['^GSPC']
y = clean_returns['AAPL']

# Add a constant to the independent value
X1 = sm.add_constant(X)

# make regression model 
model = sm.OLS(y, X1)

# fit model and print results
results = model.fit()
print(results.summary())

In [ ]:
from scipy import stats
slope, intercept, r_value, p_value, std_err = stats.linregress(X, y)

print(slope)
print(intercept)

In [ ]:
# from sec_api import QueryApi

# queryApi = QueryApi(api_key="2c51b4a1c12189a10b7a752dabad0c1249825b7f3d49d699d336aed42843628e")

# query = {
#   "query": { "query_string": { 
#       "query": "ticker:TSLA AND filedAt:{2020-01-01 TO 2020-12-31} AND formType:\"10-Q\"" 
#     } },
#   "from": "0",
#   "size": "10",
#   "sort": [{ "filedAt": { "order": "desc" } }]
# }

# filings = queryApi.get_filings(query)

# print(filings)

In [ ]:
# query = {
#   "query": { "query_string": { 
#       "query": "formType:\"13F\" AND holdings.cusip:88160R101"
#     } },
#   "from": "0",
#   "size": "10",
#   "sort": [{ "filedAt": { "order": "desc" } }]
# }

# filings = queryApi.get_filings(query)

In [ ]:
# filings

In [ ]:
# from sec_api import FullTextSearchApi

# fullTextSearchApi = FullTextSearchApi(api_key="2c51b4a1c12189a10b7a752dabad0c1249825b7f3d49d699d336aed42843628e")

# query = {
#   "query": '"AAPL"',
#   "formTypes": ['10-K', '10-Q'],
#   "startDate": '2020-01-01',
#   "endDate": '2022-07-15',
# }

# filings = fullTextSearchApi.get_filings(query)

# print(filings)

In [ ]:
# from sec_api import ExtractorApi

# extractorApi = ExtractorApi("2c51b4a1c12189a10b7a752dabad0c1249825b7f3d49d699d336aed42843628e")

In [ ]:
# Tesla 10-K filing
filing_url = "https://www.sec.gov/Archives/edgar/data/1318605/000156459021004599/tsla-10k_20201231.htm"

# get the standardized and cleaned text of section 1A "Risk Factors"
section_text = extractorApi.get_section(filing_url, "1A", "text")

# get the original HTML of section 7 
# "Management’s Discussion and Analysis of Financial Condition and Results of Operations"
section_html = extractorApi.get_section(filing_url, "7", "html")

In [ ]:
from sec_api import ExtractorApi
extractorApi = ExtractorApi("2c51b4a1c12189a10b7a752dabad0c1249825b7f3d49d699d336aed42843628e")
data = {}
def get_10k_data(tickers):
    for ticker in tickers:
            filing_url = "https://www.sec.gov/Archives/edgar/data/1318605/000156459021004599/{}-10k_20201231.htm".format(ticker)
            section_text = extractorApi.get_section(filing_url, "1A", "text")
            print(section_text)
            data[ticker] = section_text
    return section_text

In [ ]:
# tickers = ['AAPL', 'ABT', 'TSLA']
# filing_url = "https://www.sec.gov/Archives/edgar/data/1318605/000156459021004599/{}-10k_20201231.htm".format(ticker)

In [ ]:
# get_10k_data(tickers)

In [ ]:
data

In [ ]:
data

In [ ]:
filing_url

In [ ]:
section_text[0:1000]

In [ ]:
from IPython.display import display, HTML
display(HTML("<div><table><tr><td>" + section_html[0:2034]))

In [ ]:
# txt version of Tesla's 10-K filing
filing_url = "https://www.sec.gov/Archives/edgar/data/1318605/000156459021004599/0001564590-21-004599.txt"

section_text = extractorApi.get_section(filing_url, "1A", "text")

In [ ]:
# section_text

In [ ]:
# from sec_api import FullTextSearchApi

# fullTextSearchApi = FullTextSearchApi(api_key="2c51b4a1c12189a10b7a752dabad0c1249825b7f3d49d699d336aed42843628e")

# query = {
#   "query": '"AAPL"',
#   "formTypes": ['10-K', '10-Q'],
#   "startDate": '2020-01-01',
#   "endDate": '2022-07-15',
# }

# filings = fullTextSearchApi.get_filings(query)

# print(filings)

In [ ]:
import nltk

In [ ]:
from nltk.tokenize import word_tokenize

In [ ]:
data.keys()

In [ ]:
data.values()

In [ ]:
test=pd.DataFrame([data])

In [ ]:
test1 = test.T

In [ ]:
test1.rename(columns={0: "10k_1A"})

In [ ]:
def word_list_length(word_list):
    return len(word_list)

In [ ]:
word_list_length(test1)

In [ ]:
test1.iloc[0]

In [13]:
import psycopg2
# connection = psycopg2.connect(
#     host = "postgresql://postgres: myclassdb-01.cd80yqfjmzyg.us-east-1.rds.amazonaws.com/stock_market",
#     port = 5432,
#     user = 'postgres',
#     password = 'vazji6-jaqkux-sumqYb',
#     database='YOUR_DATABASE_NAME'
#     )
# cursor=connection.cursor()

db_string = f'postgresql://postgres:{db_password}@myclassdb-01.cd80yqfjmzyg.us-east-1.rds.amazonaws.com/stock_market'

engine = create_engine(db_string)

In [14]:
# db_string = f'postgresql://postgres:{db_password}@127.0.0.1:5432/Stock_Market'
# engine = create_engine(db_string)

In [15]:
df = pd.read_sql("SELECT * FROM stocks WHERE ticker = 'AAPL'", engine)

In [16]:
df

,ticker,date,code,open,high,low,close,adjclose,volume
0,AAPL,1986-10-10,AAPL_1986-10-10,0.146763,0.148996,0.144531,0.148438,0.115859,58531200.0
1,AAPL,1980-12-12,AAPL_1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100178,469033600.0
2,AAPL,1980-12-15,AAPL_1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094952,175884800.0
3,AAPL,1980-12-16,AAPL_1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087983,105728000.0
4,AAPL,1980-12-17,AAPL_1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090160,86441600.0
...,...,...,...,...,...,...,...,...,...
10481,AAPL,1995-04-06,AAPL_1995-04-06,0.332589,0.339286,0.317243,0.328125,0.278149,722825600.0
10482,AAPL,1995-04-07,AAPL_1995-04-07,0.330357,0.331473,0.323661,0.328125,0.278149,295724800.0
10483,AAPL,1995-04-10,AAPL_1995-04-10,0.329241,0.330357,0.322545,0.327009,0.277203,117801600.0
10484,AAPL,1995-04-11,AAPL_1995-04-11,0.328125,0.338170,0.327009,0.337054,0.285718,214513600.0
10485,AAPL,1995-04-12,AAPL_1995-04-12,0.341518,0.353795,0.333705,0.348214,0.295178,474712000.0

In [ ]:
# db_string = f'postgresql://postgres:{db_password}@127.0.0.1:5432/Stock_Market'
# engine = create_engine(db_string)

In [19]:
# Connect with Amazon RDS Database Instance 

db_string = f'postgresql://postgres:{db_password}@myclassdb-01.cd80yqfjmzyg.us-east-1.rds.amazonaws.com/stock_market'

engine = create_engine(db_string)

In [ ]:
# # Retrieve data (here for 'AAPL')

# df = pd.read_sql("SELECT * FROM stocks WHERE ticker = 'AAPL' ORDER BY date ", engine)

In [21]:
tickers = ['CLX', 'COST', 'GIS', 'HRL', 'KO', 'KR', 'PEP', 'PG', 'STZ', 'WMT',
       'AAP', 'AMZN', 'EBAY', 'EXPE', 'F', 'HD', 'LOW', 'NKE', 'SBUX',
       'TSLA', 'ABT', 'AMGN', 'BIIB', 'BMY', 'CI', 'GILD', 'JNJ', 'LH',
       'PFE', 'UNH', 'AAPL', 'AMAT', 'AMD', 'MSFT', 'MU', 'NVDA', 'NXPI',
       'PAYC', 'PYPL', 'SWKS', 'AMT', 'AVB', 'CBRE', 'DRE', 'ESS', 'EXR',
       'KIM', 'PSA', 'SPG', 'WELL']

In [ ]:
now = dt.datetime.now()
date_filter = now - timedelta(days=3)
list_ids = [1,2,3]

In [23]:
placeholders = ", ".join(["%s" for _ in tickers])
date1 = '2020-01-01'
date2 = '2022-07-15'
query = '''SELECT * FROM stocks 
           WHERE ticker in ({}) AND date BETWEEN %s AND %s;
        '''.format(placeholders)

df = pd.read_sql_query(query, engine, params=(*tickers, date1, date2))

In [24]:
df

,ticker,date,code,open,high,low,close,adjclose,volume
0,CLX,2020-01-02,CLX_2020-01-02,153.380005,153.410004,151.550003,152.610001,143.581375,1292500.0
1,CLX,2020-01-03,CLX_2020-01-03,152.570007,153.880005,151.240005,152.910004,143.863647,809800.0
2,CLX,2020-01-06,CLX_2020-01-06,153.070007,153.940002,152.289993,153.369995,144.296387,869300.0
3,CLX,2020-01-07,CLX_2020-01-07,153.190002,153.289993,151.509995,151.520004,142.555878,1198200.0
4,CLX,2020-01-08,CLX_2020-01-08,151.779999,153.339996,150.949997,151.970001,142.979218,901200.0
...,...,...,...,...,...,...,...,...,...
31945,AVB,2022-07-11,AVB_2022-07-11,189.800003,191.380005,189.320007,190.550003,190.550003,611900.0
31946,AVB,2022-07-12,AVB_2022-07-12,189.029999,193.309998,189.029999,191.339996,191.339996,614800.0
31947,AVB,2022-07-13,AVB_2022-07-13,189.759995,191.449997,187.229996,190.550003,190.550003,484500.0
31948,AVB,2022-07-14,AVB_2022-07-14,187.110001,190.320007,187.110001,189.139999,189.139999,559900.0
31949,AVB,2022-07-15,AVB_2022-07-15,192.169998,193.649994,190.300003,192.789993,192.789993,563400.0