In [1]:
import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.0.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:4 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:10 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:13 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,905 kB]
Get:14 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,527 kB]
Get:15 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [87.8 kB]
Get:17 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,063 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,336 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,306 kB]
Fetched 11.5 MB in 5s (2,143 kB/s)
Reading package lists... Done

In [2]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2022-07-31 00:31:18--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar’

postgresql-42.2.9.j 100%[===================>] 892.61K  4.98MB/s    in 0.2s

2022-07-31 00:31:18 (4.98 MB/s) - ‘postgresql-42.2.9.jar’ saved [914037/914037]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Stock_Market_Project").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [4]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
# url="https://myclassbucket-01.s3.amazonaws.com/user_data.csv"
# spark.sparkContext.addFile(url)
# user_data_df = spark.read.csv(SparkFiles.get("user_data.csv"), sep=",", header=True, inferSchema=True)

# Show DataFrame
# user_data_df.show()

In [ ]:
# url="https://myclassbucket-01.s3.amazonaws.com/user_payment.csv"
# spark.sparkContext.addFile(url)
# user_payment_df = spark.read.csv(SparkFiles.get("user_payment.csv"), sep=",", header=True, inferSchema=True)

# # Show DataFrame
# user_payment_df.show()

In [ ]:
# # Join the two DataFrame
# joined_df= user_data_df.join(user_payment_df, on="username", how="inner")
# joined_df.show()

In [ ]:
# # Drop null values
# dropna_df = joined_df.dropna()
# dropna_df.show()

In [ ]:
# Load in a sql function to use columns
from pyspark.sql.functions import col

# # Filter for only columns with active users
# cleaned_df = dropna_df.filter(col("active_user")  == True)
# cleaned_df.show()

In [ ]:
# # Create user dataframe to match active_user table
# clean_user_df = cleaned_df.select(["id", "first_name", "last_name", "username"])
# clean_user_df.show()

In [ ]:
# # Create user dataframe to match billing_info table
# clean_billing_df = cleaned_df.select(["billing_id", "street_address", "state", "username"])
# clean_billing_df.show()

In [ ]:
# # Create user dataframe to match payment_info table
# clean_payment_df = cleaned_df.select(["billing_id", "cc_encrypted"])
# clean_payment_df.show()

Postgres Setup

In [5]:
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://myclassdb-01.cd80yqfjmzyg.us-east-1.rds.amazonaws.com:5432/stock_market"
config = {"user":"postgres", 
          "password": "vazji6-jaqkux-sumqYb", 
          "driver":"org.postgresql.Driver"}

In [7]:
stock_df = spark.read.jdbc(url=jdbc_url, table='stocks', properties=config)

In [8]:
stock_df.createOrReplaceTempView("stocks")

In [12]:
st = stock_df.filter(stock_df['ticker'] == 'AAPL')

In [13]:
st.show()

+------+----------+---------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|ticker|      date|           code|                open|                high|                 low|               close|            adjclose|              volume|
+------+----------+---------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|  AAPL|1985-03-18|AAPL_1985-03-18|0.102121002972126000|0.103237003087997400|0.102121002972126000|0.102121002972126000|0.079707682132720900|124768000.0000000...|
|  AAPL|1985-03-19|AAPL_1985-03-19|0.102121002972126000|0.103237003087997400|0.098214000463485700|0.098214000463485700|0.076658204197883600|171449600.0000000...|
|  AAPL|1985-03-20|AAPL_1985-03-20|0.099330000579357100|0.101003997027873900|0.099330000579357100|0.099330000579357100|0.077529251575469900|404969600.0000000...|
|  AAPL|1985-03-21|AAPL_1985-03-21|0.101003997027873900|0.102678999304771400|0.101003997027873900|0.101003997027873900|0.078835859894752500|162467200.0000000...|
|  AAPL|1985-03-22|AAPL_1985-03-22|0.101003997027873900|0.102678999304771400|0.099330000579357100|0.099330000579357100|0.077529251575469900|80371200.00000000...|
|  AAPL|1985-03-25|AAPL_1985-03-25|0.099330000579357100|0.099330000579357100|0.096539996564388200|0.096539996564388200|0.075351573526859200|109961600.0000000...|
|  AAPL|1985-03-26|AAPL_1985-03-26|0.100446000695228500|0.100446000695228500|0.100446000695228500|0.100446000695228500|0.078400321304798100|121430400.0000000...|
|  AAPL|1985-03-27|AAPL_1985-03-27|0.100446000695228500|0.101562999188900000|0.097655996680259700|0.097655996680259700|0.076222628355026200|111350400.0000000...|
|  AAPL|1985-03-28|AAPL_1985-03-28|0.097655996680259700|0.099330000579357100|0.097655996680259700|0.097655996680259700|0.076222628355026200|129606400.0000000...|
|  AAPL|1985-03-29|AAPL_1985-03-29|0.097655996680259700|0.099330000579357100|0.097655996680259700|0.098771996796131100|0.077093742787837900|87180800.00000000...|
|  AAPL|1985-04-01|AAPL_1985-04-01|0.098771996796131100|0.101003997027873900|0.096539996564388200|0.096539996564388200|0.075351573526859200|114060800.0000000...|
|  AAPL|1985-04-02|AAPL_1985-04-02|0.096539996564388200|0.097098000347614200|0.093750000000000000|0.093750000000000000|0.073173955082893300|227427200.0000000...|
|  AAPL|1985-04-03|AAPL_1985-04-03|0.093750000000000000|0.094307996332645400|0.093750000000000000|0.093750000000000000|0.073173955082893300|242659200.0000000...|
|  AAPL|1985-04-04|AAPL_1985-04-04|0.093750000000000000|0.094307996332645400|0.092076003551483100|0.093192003667354500|0.072738401591777800|161862400.0000000...|
|  AAPL|1985-04-08|AAPL_1985-04-08|0.093192003667354500|0.093750000000000000|0.087612003087997400|0.087612003087997400|0.068383134901523500|198732800.0000000...|
|  AAPL|1985-04-09|AAPL_1985-04-09|0.087612003087997400|0.088169999420642800|0.087612003087997400|0.087612003087997400|0.068383134901523500|263894400.0000000...|
|  AAPL|1985-04-10|AAPL_1985-04-10|0.093750000000000000|0.094866000115871400|0.093750000000000000|0.093750000000000000|0.073173955082893300|226912000.0000000...|
|  AAPL|1985-04-11|AAPL_1985-04-11|0.095423996448516800|0.098214000463485700|0.095423996448516800|0.095423996448516800|0.074480541050434100|146675200.0000000...|
|  AAPL|1985-04-12|AAPL_1985-04-12|0.095423996448516800|0.095423996448516800|0.092633999884128500|0.093192003667354500|0.072738401591777800|72531200.00000000...|
|  AAPL|1985-04-15|AAPL_1985-04-15|0.095423996448516800|0.096539996564388200|0.095423996448516800|0.095423996448516800|0.074480541050434100|59830400.00000000...|
+------+----------+---------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
# stock_df.show()

In [9]:
companies_df = spark.read.jdbc(url=jdbc_url, table='tickers', properties=config)

In [10]:
companies_df.show()

+---+------+--------------------+--------------------+--------------------+--------------------+----------------+-------+-----------+
| id|symbol|            security|         gics_sector| gics_sub_industries|        headquarters|date_first_added|    cik|    founded|
+---+------+--------------------+--------------------+--------------------+--------------------+----------------+-------+-----------+
|  1|   MMM|                  3M|         Industrials|Industrial Conglo...|Saint Paul, Minne...|      1976-08-09|  66740|       1902|
|  2|   AOS|         A. O. Smith|         Industrials|   Building Products|Milwaukee, Wisconsin|      2017-07-26|  91142|       1916|
|  3|   ABT|              Abbott|         Health Care|Health Care Equip...|North Chicago, Il...|      1964-03-31|   1800|       1888|
|  4|  ABBV|              AbbVie|         Health Care|     Pharmaceuticals|North Chicago, Il...|      2012-12-31|1551152|2013 (1888)|
|  5|  ABMD|             Abiomed|         Health Care|Health Care Equip...|Danvers, Massachu...|      2018-05-31| 815094|       1981|
|  6|   ACN|           Accenture|Information Techn...|IT Consulting & O...|     Dublin, Ireland|      2011-07-06|1467373|       1989|
|  7|  ATVI| Activision Blizzard|Communication Ser...|Interactive Home ...|Santa Monica, Cal...|      2015-08-31| 718877|       2008|
|  8|   ADM|                 ADM|    Consumer Staples|Agricultural Prod...|   Chicago, Illinois|      1981-07-29|   7084|       1902|
|  9|  ADBE|          Adobe Inc.|Information Techn...|Application Software|San Jose, California|      1997-05-05| 796343|       1982|
| 10|   ADP|                 ADP|Information Techn...|Data Processing &...|Roseland, New Jersey|      1981-03-31|   8670|       1949|
| 11|   AAP|  Advance Auto Parts|Consumer Discreti...|   Automotive Retail|Raleigh, North Ca...|      2015-07-09|1158449|       1932|
| 12|   AES|     AES Corporation|           Utilities|Independent Power...| Arlington, Virginia|      1998-10-02| 874761|       1981|
| 13|   AFL|               Aflac|          Financials|Life & Health Ins...|   Columbus, Georgia|      1999-05-28|   4977|       1955|
| 14|     A|Agilent Technologies|         Health Care|Health Care Equip...|Santa Clara, Cali...|      2000-06-05|1090872|       1999|
| 15|   APD|Air Products and ...|           Materials|    Industrial Gases|Allentown, Pennsy...|      1985-04-30|   2969|       1940|
| 16|  AKAM|              Akamai|Information Techn...|Internet Services...|Cambridge, Massac...|      2007-07-12|1086222|       1998|
| 17|   ALK|    Alaska Air Group|         Industrials|            Airlines|  SeaTac, Washington|      2016-05-13| 766421|       1985|
| 18|   ALB|Albemarle Corpora...|           Materials| Specialty Chemicals|Charlotte, North ...|      2016-07-01| 915913|       1994|
| 19|   ARE|Alexandria Real E...|         Real Estate|        Office REITs|Pasadena, California|      2017-03-20|1035443|       1994|
| 20|  ALGN|    Align Technology|         Health Care|Health Care Supplies|San Jose, California|      2017-06-19|1097149|       1997|
+---+------+--------------------+--------------------+--------------------+--------------------+----------------+-------+-----------+
only showing top 20 rows

In [ ]:
stock_df.printSchema()

root
 |-- ticker: string (nullable = true)
 |-- date: date (nullable = true)
 |-- code: string (nullable = true)
 |-- open: decimal(38,18) (nullable = true)
 |-- high: decimal(38,18) (nullable = true)
 |-- low: decimal(38,18) (nullable = true)
 |-- close: decimal(38,18) (nullable = true)
 |-- adjclose: decimal(38,18) (nullable = true)
 |-- volume: decimal(38,18) (nullable = true)

In [ ]:
companies_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- symbol: string (nullable = true)
 |-- security: string (nullable = true)
 |-- gics_sector: string (nullable = true)
 |-- gics_sub_industries: string (nullable = true)
 |-- headquarters: string (nullable = true)
 |-- date_first_added: string (nullable = true)
 |-- cik: integer (nullable = true)
 |-- founded: string (nullable = true)

In [ ]:
df = spark.sql("SELECT ticker, date, code, adjclose, volume FROM stocks")

In [ ]:
df.show()

+------+----------+--------------+--------------------+--------------------+
|ticker|      date|          code|            adjclose|              volume|
+------+----------+--------------+--------------------+--------------------+
|   MOS|1989-11-02|MOS_1989-11-02|10.94354820251464...|142800.0000000000...|
|   MOS|1989-11-03|MOS_1989-11-03|10.94354820251464...|22000.00000000000...|
|   MOS|1989-11-06|MOS_1989-11-06|10.90209579467773...|224800.0000000000...|
|   MOS|1989-11-07|MOS_1989-11-07|10.77773571014404...|671600.0000000000...|
|   MOS|1989-11-08|MOS_1989-11-08|10.86064243316650...|63800.00000000000...|
|   MOS|1989-11-09|MOS_1989-11-09|10.73628330230712...|54000.00000000000...|
|   MOS|1989-11-10|MOS_1989-11-10|10.69482898712158...|353800.0000000000...|
|   MOS|1989-11-13|MOS_1989-11-13|10.69482898712158...|79600.00000000000...|
|   MOS|1989-11-14|MOS_1989-11-14|10.69482898712158...|21800.00000000000...|
|   MOS|1989-11-15|MOS_1989-11-15|10.65338325500488...|76200.00000000000...|
|   MOS|1989-11-16|MOS_1989-11-16|10.61192512512207...|161600.0000000000...|
|   MOS|1989-11-17|MOS_1989-11-17|10.61192512512207...|165000.0000000000...|
|   MOS|1989-11-20|MOS_1989-11-20|10.52902030944824...|426400.0000000000...|
|   MOS|1989-11-21|MOS_1989-11-21|10.52902030944824...|40800.00000000000...|
|   MOS|1989-11-22|MOS_1989-11-22|10.52902030944824...|114800.0000000000...|
|   MOS|1989-11-24|MOS_1989-11-24|10.48756599426269...|63000.00000000000...|
|   MOS|1989-11-27|MOS_1989-11-27|10.48756599426269...|117800.0000000000...|
|   MOS|1989-11-28|MOS_1989-11-28|10.44611358642578...|62400.00000000000...|
|   MOS|1989-11-29|MOS_1989-11-29|10.69482898712158...|221200.0000000000...|
|   MOS|1989-11-30|MOS_1989-11-30|10.44611358642578...|51600.00000000000...|
+------+----------+--------------+--------------------+--------------------+
only showing top 20 rows

In [23]:
import pandas as pg
import numpy as np

In [21]:
df2=stock_df.filter( (stock_df["date"] >= '2001-01-01') | (stock_df['date'] <= '2022-07-15'))

In [22]:
df2.show()

Py4JJavaError: ignored