In [1]:
import yfinance as yf
tickers = ["PEP", "PG", "COST", "WMT", "CLX", "KR", "STZ", "KO", "HRL", "GIS"]

In [3]:
for ticker in tickers: 
    exec(f'df_{ticker} = yf.Ticker(ticker).history(period="3y")')

In [5]:
df_PEP.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-07-11,171.410004,172.800003,170.020004,170.470001,4921300,0.0,0
2022-07-12,173.000000,173.320007,168.869995,169.500000,5201600,0.0,0
2022-07-13,168.539993,171.440002,167.979996,170.100006,4533100,0.0,0
2022-07-14,168.289993,171.160004,167.699997,170.979996,4218300,0.0,0
2022-07-15,171.339996,172.919998,170.029999,171.119995,4655841,0.0,0