In [1]:
#Import Dependencies
import yfinance as yf

#Create string based on my 10 stocks
tickers = ["PEP", "PG", "COST", "WMT", "CLX", "KR", "STZ", "KO", "HRL", "GIS"]

In [2]:
#Reiteriate through the code to pull historical data from Yahoo Finance
for ticker in tickers: 
    exec(f'df_{ticker} = yf.Ticker(ticker).history(period="3y")')
    exec(f'df_{ticker}["Ticker"] = ticker')

In [10]:
#Merge All Consumer Stable Stocks Into Single Data Frame
import pandas as pd
frames = [df_PEP, df_PG, df_COST, df_WMT, df_CLX, df_KR, df_STZ, df_KO, df_HRL, df_GIS]
df_ConsumerStaples = pd.concat(frames).sort_index()

In [11]:
df_ConsumerStaples.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker
Date,,,,,,,,
2019-07-16,123.169285,124.234894,122.223102,122.912071,4019700,0.0,0,PEP
2019-07-16,147.598739,149.399518,147.153190,148.462006,943000,0.0,0,CLX
2019-07-16,267.446619,267.798769,266.285462,267.113495,1379200,0.0,0,COST
2019-07-16,20.749047,20.777227,20.589367,20.626938,5659700,0.0,0,KR
2019-07-16,47.972287,48.361790,47.782065,47.881706,5142900,0.0,0,GIS