### Dependencies

In [1]:
import os
import pandas as pd
import numpy as np
import csv
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline

## Stock Data for 10 Companies, 5 Sectors

In [2]:
# 1. Function to read data for 50 companies in 5 sectors into a data frame

def get_data(filename):
    df = pd.read_csv(filename, parse_dates=True)
    
    # df = df.drop(columns =['code', 'gics_sector'])
    
    df['date'] = pd.to_datetime(df.date)
    
    df = df.sort_values(['date', 'ticker'])
    
    df_t1 = df.loc[(df['date'] >= '2020-1-1') & (df['date'] <= '2021-3-31')]
    
    df_t2 = df.loc[(df['date'] >= '2021-4-1') & (df['date'] <= '2022-7-15')]
    
    df_t1 = df_t1.sort_values(['date', 'ticker'])
    
    # df_t1 = df_t1.drop(columns =['gics_sector'])
    
    # df_t2 = df_t2.drop(columns =['gics_sector'])
    
    df_t2 = df_t2.sort_values(['date', 'ticker'])
        
    return df, df_t1, df_t2

In [3]:
#2. Read data into 3 dara frames: a. Full data frame, b. first time range, c. 2nd time range

df, df_t1, df_t2 = get_data('stocks_10companies_5_sectors.csv')

In [4]:
# Check the full data frame
df

,ticker,date,code,open,high,low,close,adjclose,volume,gics_sector
6390,AAP,2020-01-02,AAP_2020-01-02,160.470001,160.949997,157.529999,159.410004,153.283569,944900.0,Consumer Discretionary
19170,AAPL,2020-01-02,AAPL_2020-01-02,74.059998,75.150002,73.797501,75.087502,73.785904,135480400.0,Information Technology
12780,ABT,2020-01-02,ABT_2020-01-02,86.059998,86.959999,85.800003,86.949997,83.297440,4969000.0,Health Care
19809,AMAT,2020-01-02,AMAT_2020-01-02,62.000000,62.650002,61.700001,62.200001,60.680820,6647900.0,Information Technology
20448,AMD,2020-01-02,AMD_2020-01-02,46.860001,49.250000,46.630001,49.099998,49.099998,80331100.0,Information Technology
...,...,...,...,...,...,...,...,...,...,...
25559,SWKS,2022-07-15,SWKS_2022-07-15,100.000000,101.180000,98.739998,101.059998,101.059998,1666800.0,Information Technology
12779,TSLA,2022-07-15,TSLA_2022-07-15,720.000000,730.869995,710.669983,720.200012,720.200012,23165500.0,Consumer Discretionary
19169,UNH,2022-07-15,UNH_2022-07-15,526.059998,531.989990,515.450012,529.750000,529.750000,5741800.0,Health Care
31949,WELL,2022-07-15,WELL_2022-07-15,81.190002,81.480003,80.209999,81.220001,81.220001,2078600.0,Real Estate
6389,WMT,2022-07-15,WMT_2022-07-15,128.800003,130.270004,128.050003,129.070007,129.070007,7059300.0,Consumer Staples

In [5]:
# Check the data frame of the first segment
df_t1

,ticker,date,code,open,high,low,close,adjclose,volume,gics_sector
6390,AAP,2020-01-02,AAP_2020-01-02,160.470001,160.949997,157.529999,159.410004,153.283569,944900.0,Consumer Discretionary
19170,AAPL,2020-01-02,AAPL_2020-01-02,74.059998,75.150002,73.797501,75.087502,73.785904,135480400.0,Information Technology
12780,ABT,2020-01-02,ABT_2020-01-02,86.059998,86.959999,85.800003,86.949997,83.297440,4969000.0,Health Care
19809,AMAT,2020-01-02,AMAT_2020-01-02,62.000000,62.650002,61.700001,62.200001,60.680820,6647900.0,Information Technology
20448,AMD,2020-01-02,AMD_2020-01-02,46.860001,49.250000,46.630001,49.099998,49.099998,80331100.0,Information Technology
...,...,...,...,...,...,...,...,...,...,...
25234,SWKS,2021-03-31,SWKS_2021-03-31,179.710007,185.210007,179.580002,183.479996,180.001465,2325000.0,Information Technology
12454,TSLA,2021-03-31,TSLA_2021-03-31,646.619995,672.000000,641.109985,667.929993,667.929993,33337300.0,Consumer Discretionary
18844,UNH,2021-03-31,UNH_2021-03-31,372.799988,377.000000,371.799988,372.070007,365.823639,3356500.0,Health Care
31624,WELL,2021-03-31,WELL_2021-03-31,72.300003,72.779999,71.339996,71.629997,69.044472,2828800.0,Real Estate
6064,WMT,2021-03-31,WMT_2021-03-31,135.550003,136.860001,134.960007,135.830002,133.260345,8182000.0,Consumer Staples

In [6]:
# Check the data frame of the second segment
df_t2

,ticker,date,code,open,high,low,close,adjclose,volume,gics_sector
6704,AAP,2021-04-01,AAP_2021-04-01,183.250000,186.789993,181.570007,185.960007,180.438507,829000.0,Consumer Discretionary
19484,AAPL,2021-04-01,AAPL_2021-04-01,123.660004,124.180000,122.489998,123.000000,122.093880,75089100.0,Information Technology
13094,ABT,2021-04-01,ABT_2021-04-01,120.279999,120.870003,118.779999,118.940002,116.206291,4015100.0,Health Care
20123,AMAT,2021-04-01,AMAT_2021-04-01,138.139999,142.360001,137.199997,141.520004,140.191589,15929200.0,Information Technology
20762,AMD,2021-04-01,AMD_2021-04-01,80.160004,81.309998,79.480003,81.089996,81.089996,40182400.0,Information Technology
...,...,...,...,...,...,...,...,...,...,...
25559,SWKS,2022-07-15,SWKS_2022-07-15,100.000000,101.180000,98.739998,101.059998,101.059998,1666800.0,Information Technology
12779,TSLA,2022-07-15,TSLA_2022-07-15,720.000000,730.869995,710.669983,720.200012,720.200012,23165500.0,Consumer Discretionary
19169,UNH,2022-07-15,UNH_2022-07-15,526.059998,531.989990,515.450012,529.750000,529.750000,5741800.0,Health Care
31949,WELL,2022-07-15,WELL_2022-07-15,81.190002,81.480003,80.209999,81.220001,81.220001,2078600.0,Real Estate
6389,WMT,2022-07-15,WMT_2022-07-15,128.800003,130.270004,128.050003,129.070007,129.070007,7059300.0,Consumer Staples

## First Segment

In [7]:
# 3. Create data frames for each ticker of particular sector for first segment
data = df_t1
dfs = dict(tuple(data.groupby('ticker')))

In [8]:
# 4. Get "close" values and create a data frame of tickers
df_t1_close = {}
for df in dfs:
    dfs[df].set_index('date', inplace = True)
    df_t1_close[df] = dfs[df].close
# print(df_t1_close)
df_t1_close = pd.DataFrame(df_t1_close)
df_t1_close

,AAP,AAPL,ABT,AMAT,AMD,AMGN,AMT,AMZN,AVB,BIIB,...,PSA,PYPL,SBUX,SPG,STZ,SWKS,TSLA,UNH,WELL,WMT
date,,,,,,,,,,,,,,,,,,,,,
2020-01-02,159.410004,75.087502,86.949997,62.200001,49.099998,240.100006,228.500000,94.900497,207.240005,294.239990,...,211.419998,110.750000,89.349998,145.089996,188.300003,121.669998,86.052002,292.500000,80.139999,118.940002
2020-01-03,159.419998,74.357498,85.889999,61.209999,48.599998,238.470001,228.610001,93.748497,209.229996,290.850006,...,213.699997,108.760002,88.830002,145.350006,189.529999,118.650002,88.601997,289.540009,81.550003,117.889999
2020-01-06,156.800003,74.949997,86.339996,59.889999,48.389999,240.300003,228.550003,95.143997,209.580002,290.820007,...,214.460007,110.169998,88.129997,146.110001,190.399994,116.559998,90.307999,291.549988,82.790001,117.650002
2020-01-07,154.940002,74.597504,85.860001,61.619999,48.250000,238.039993,223.679993,95.343002,205.020004,290.089996,...,213.610001,109.669998,87.860001,144.449997,183.600006,117.669998,93.811996,289.790009,82.250000,116.559998
2020-01-08,153.160004,75.797501,86.209999,61.580002,47.830002,238.220001,225.619995,94.598503,205.869995,292.660004,...,214.000000,111.820000,88.879997,145.399994,190.289993,119.540001,98.428001,295.899994,82.269997,116.160004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-25,185.649994,120.589996,119.050003,119.720001,76.220001,246.250000,227.220001,152.313004,187.339996,273.970001,...,241.300003,234.240005,107.349998,113.639999,231.160004,172.130005,640.390015,371.089996,71.160004,134.009995
2021-03-26,187.320007,121.209999,122.070000,128.639999,77.410004,252.860001,238.820007,152.601501,189.119995,276.630005,...,244.589996,241.029999,109.900002,114.669998,235.309998,182.179993,618.710022,376.480011,73.389999,135.130005
2021-03-29,185.059998,121.389999,122.230003,125.709999,77.139999,254.960007,241.830002,153.786499,187.350006,276.079987,...,247.990005,235.669998,109.129997,113.809998,235.979996,179.320007,611.289978,379.059998,71.680000,136.669998
2021-03-30,186.070007,119.900002,119.750000,126.760002,76.000000,249.750000,237.149994,152.764496,187.369995,276.010010,...,247.029999,236.539993,110.269997,115.389999,233.949997,178.509995,635.619995,373.559998,72.930000,135.740005
2021-03-31,183.490005,122.150002,119.839996,133.600006,78.500000,248.809998,239.059998,154.703995,184.509995,279.750000,...,246.759995,242.839996,109.269997,113.769997,228.000000,183.479996,667.929993,372.070007,71.629997,135.830002

In [9]:
## Summary stattistics
df_t1_close.describe()

,AAP,AAPL,ABT,AMAT,AMD,AMGN,AMT,AMZN,AVB,BIIB,...,PSA,PYPL,SBUX,SPG,STZ,SWKS,TSLA,UNH,WELL,WMT
count,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000,...,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000,314.000000
mean,145.794299,101.760032,100.458726,71.247421,69.598790,232.746338,237.907802,138.796342,169.081465,282.278313,...,214.618853,179.201083,87.163599,85.388121,189.281847,135.251847,379.979611,310.068727,61.037038,131.419841
std,20.391243,23.724267,13.301859,21.892335,17.579262,14.449558,16.119121,26.442814,23.040760,24.868955,...,18.413140,52.773742,12.918627,28.267058,25.646681,27.211905,241.389682,32.188339,12.313012,11.817040
min,75.029999,56.092499,62.820000,37.990002,38.709999,182.240005,179.089996,83.830498,121.080002,236.259995,...,160.610001,85.260002,56.330002,44.009998,105.639999,67.900002,72.244003,194.860001,33.220001,104.050003
25%,135.977505,79.285624,89.762499,57.830001,52.732500,224.959999,227.397499,117.929253,153.724998,267.402512,...,197.909996,122.309998,76.399998,63.887501,174.954998,117.907499,159.771000,291.177505,52.367501,120.492502
50%,150.175003,110.209999,101.310001,62.445000,76.565002,233.675003,237.709999,153.012253,160.465004,278.955002,...,220.320000,186.075005,86.674999,72.399998,185.934998,137.794998,330.175995,306.929993,59.525000,131.639999
75%,157.252499,121.412498,109.477503,85.185001,84.857500,241.587505,249.717495,159.218994,178.182503,296.692497,...,229.289997,215.139996,98.780001,107.802502,208.204998,150.735004,596.807510,334.480011,67.042500,142.929996
max,187.320007,143.160004,128.229996,133.600006,97.250000,260.950012,271.290009,176.572495,228.070007,355.630005,...,247.990005,304.790009,111.339996,149.110001,241.270004,194.139999,883.090027,379.059998,89.839996,152.789993

In [10]:
# 5. Calculate the Cumulative return for the First segment
df_close = df_t1_close.copy()
df_t1_cumulative_return = ((df_close.iloc[313, :] / df_close.iloc[0, :].values) - 1)*100
df_t1_cumulative_return

AAP      15.105703
AAPL     62.676876
ABT      37.826338
AMAT    114.791004
AMD      59.877805
AMGN      3.627651
AMT       4.621443
AMZN     63.017054
AVB     -10.967965
BIIB     -4.924548
BMY      -0.331543
CBRE     28.675994
CI       17.956476
CLX      26.387526
COST     20.923539
DRE      21.995931
EBAY     68.705242
ESS      -8.864155
EXPE     55.090998
EXR      26.563543
F        30.042462
GILD     -0.919831
GIS      17.629001
HD       38.964761
HRL       7.831183
JNJ      12.591632
KIM      -4.336737
KO       -4.146213
KR       25.575722
LH       52.274902
LOW      57.878129
MSFT     46.787456
MU       59.252573
NKE      30.029357
NVDA    122.554285
NXPI     56.636072
PAYC     36.151587
PEP       4.145184
PFE      -2.436329
PG        9.739882
PSA      16.715541
PYPL    119.268620
SBUX     22.294346
SPG     -21.586602
STZ      21.083376
SWKS     50.801347
TSLA    676.193438
UNH      27.203421
WELL    -10.618920
WMT      14.200436
Name: 2021-03-31 00:00:00, dtype: float64

## Second Segment

In [11]:
# 6. Create data frames for each ticker of particular sector for first segment
data = df_t2
dfs = dict(tuple(data.groupby('ticker')))

In [12]:
# 7. Get "close" values and create a data frame of tickers
df_t2_close = {}
for df in dfs:
    dfs[df].set_index('date', inplace = True)
    df_t2_close[df] = dfs[df].close
# print(df_t2_close)
df_t2_close = pd.DataFrame(df_t2_close)

# Check the data frame
df_t2_close

,AAP,AAPL,ABT,AMAT,AMD,AMGN,AMT,AMZN,AVB,BIIB,...,PSA,PYPL,SBUX,SPG,STZ,SWKS,TSLA,UNH,WELL,WMT
date,,,,,,,,,,,,,,,,,,,,,
2021-04-01,185.960007,123.000000,118.940002,141.520004,81.089996,249.169998,240.059998,158.050003,186.899994,278.709991,...,251.940002,247.539993,109.379997,115.199997,229.619995,187.699997,661.750000,367.070007,73.250000,135.619995
2021-04-05,183.229996,125.900002,119.860001,143.050003,81.430000,252.020004,244.750000,161.336502,185.990005,277.880005,...,255.270004,251.020004,111.019997,115.050003,230.279999,191.649994,691.049988,370.179993,72.800003,139.429993
2021-04-06,183.649994,126.209999,119.970001,139.539993,81.440002,249.100006,243.580002,161.190994,186.500000,271.760010,...,255.309998,253.190002,113.150002,116.489998,236.300003,188.880005,691.619995,364.369995,74.160004,140.100006
2021-04-07,182.619995,127.900002,120.110001,139.139999,82.199997,248.119995,244.710007,163.969498,187.779999,268.019989,...,255.720001,255.600006,113.190002,117.010002,234.940002,187.229996,670.969971,365.640015,75.199997,139.800003
2021-04-08,180.500000,130.360001,119.779999,139.350006,83.349998,246.880005,241.110001,164.964996,185.649994,265.730011,...,256.760010,264.500000,113.040001,114.330002,224.210007,189.660004,683.799988,364.890015,75.620003,139.710007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-11,181.750000,144.869995,108.889999,88.620003,76.949997,247.779999,257.989990,111.750000,190.550003,215.259995,...,313.799988,70.470001,77.900002,97.220001,241.139999,95.419998,703.030029,516.950012,82.110001,125.449997
2022-07-12,183.839996,145.860001,108.300003,88.730003,76.360001,246.970001,255.490005,109.220001,191.339996,215.580002,...,307.369995,71.430000,77.760002,97.599998,240.559998,96.510002,699.210022,514.419983,82.440002,125.070000
2022-07-13,185.339996,145.490005,106.209999,89.080002,77.519997,247.089996,255.919998,110.400002,190.550003,214.529999,...,306.079987,71.360001,77.919998,95.559998,244.979996,97.879997,711.119995,501.239990,81.910004,125.370003
2022-07-14,186.009995,148.470001,105.709999,91.669998,78.599998,245.589996,256.510010,110.629997,189.139999,214.270004,...,306.429993,69.550003,78.199997,94.000000,250.970001,99.419998,714.940002,502.429993,80.099998,127.820000
2022-07-15,188.710007,150.169998,108.820000,94.470001,81.110001,248.690002,257.200012,113.550003,192.789993,217.009995,...,313.320007,73.910004,79.620003,96.360001,244.539993,101.059998,720.200012,529.750000,81.220001,129.070007

In [13]:
# 8. Calculate the Cumulative return for the second segment
df_close = df_t2_close.copy()
df_t2_cumulative_return = ((df_close.iloc[324, :] / df_close.iloc[0, :].values) - 1)*100
df_t2_cumulative_return

AAP      1.478813
AAPL    22.089429
ABT     -8.508494
AMAT   -33.246185
AMD      0.024669
AMGN    -0.192638
AMT      7.139888
AMZN   -28.155646
AVB      3.151418
BIIB   -22.137705
BMY     20.212937
CBRE    -2.610873
CI      13.348213
CLX    -22.901003
COST    47.334763
DRE     33.061125
EBAY   -30.898431
ESS     -3.992903
EXPE   -47.507530
EXR     25.190115
F       -2.382908
GILD    -5.779657
GIS     22.980959
HD      -4.984564
HRL      0.399165
JNJ      9.457713
KIM      4.791667
KO      19.024951
KR      32.823363
LH      -3.240998
LOW     -3.303370
MSFT     5.929439
MU     -33.416301
NKE    -20.999021
NVDA    14.120226
NXPI   -21.193774
PAYC   -19.885870
PEP     21.121175
PFE     42.561986
PG       8.035455
PSA     24.362945
PYPL   -70.142197
SBUX   -27.207895
SPG    -16.354164
STZ      6.497691
SWKS   -46.158764
TSLA     8.832643
UNH     44.318519
WELL    10.880548
WMT     -4.829662
Name: 2022-07-15 00:00:00, dtype: float64

In [14]:
# 9. Create a summary data frame
df_summary = pd.DataFrame({
              "2020_2021": df_t1_cumulative_return,
              "2021_2022": df_t2_cumulative_return})

In [15]:
df_summary

       2020_2021  2021_2022
AAP    15.105703   1.478813
AAPL   62.676876  22.089429
ABT    37.826338  -8.508494
AMAT  114.791004 -33.246185
AMD    59.877805   0.024669
AMGN    3.627651  -0.192638
AMT     4.621443   7.139888
AMZN   63.017054 -28.155646
AVB   -10.967965   3.151418
BIIB   -4.924548 -22.137705
BMY    -0.331543  20.212937
CBRE   28.675994  -2.610873
CI     17.956476  13.348213
CLX    26.387526 -22.901003
COST   20.923539  47.334763
DRE    21.995931  33.061125
EBAY   68.705242 -30.898431
ESS    -8.864155  -3.992903
EXPE   55.090998 -47.507530
EXR    26.563543  25.190115
F      30.042462  -2.382908
GILD   -0.919831  -5.779657
GIS    17.629001  22.980959
HD     38.964761  -4.984564
HRL     7.831183   0.399165
JNJ    12.591632   9.457713
KIM    -4.336737   4.791667
KO     -4.146213  19.024951
KR     25.575722  32.823363
LH     52.274902  -3.240998
LOW    57.878129  -3.303370
MSFT   46.787456   5.929439
MU     59.252573 -33.416301
NKE    30.029357 -20.999021
NVDA  122.554285  14.120226
NXPI   56.636072 -21.193774
PAYC   36.151587 -19.885870
PEP     4.145184  21.121175
PFE    -2.436329  42.561986
PG      9.739882   8.035455
PSA    16.715541  24.362945
PYPL  119.268620 -70.142197
SBUX   22.294346 -27.207895
SPG   -21.586602 -16.354164
STZ    21.083376   6.497691
SWKS   50.801347 -46.158764
TSLA  676.193438   8.832643
UNH    27.203421  44.318519
WELL  -10.618920  10.880548
WMT    14.200436  -4.829662

In [16]:
# 10. Summary statistics
df_summary.describe()

        2020_2021  2021_2022
count   50.000000  50.000000
mean    42.291100  -0.617215
std     97.010308  24.456787
min    -21.586602 -70.142197
25%      5.423878 -19.002943
50%     23.935034   0.211917
75%     51.906513  13.927223
max    676.193438  47.334763

In [17]:
# 11. Save summary to CSV file
df_summary.to_csv('cumulative_return_for_2_segmants.csv')